/* Base Colors */
:root {
    --pink: #FAA0E2;
}

/* Image */
.image {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

/* Containers */
.itemContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-top: 45px;
}

.itemDetails {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    gap: 3px;
}

.buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

/* Typography */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 0.5;
}

.price {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    line-height: 0;
}

.description {
    font-family: "Raleway", sans-serif;
}

/* Buttons */
.rectangle {
    border: 3px solid var(--pink);
    width: 60px;
    height: 35px;
    border-radius: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.minus {
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    padding-bottom: 4px;
    cursor: pointer;
}

.plus {
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.quantityNum {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    padding-bottom: 3px;
    font-weight: 400;
}

button {
    background-color: var(--pink);
    border-radius: 20px;
    border: none;
    width: 120px;
    height: 50px;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 25px;
    cursor: pointer;
}

/* Grow */
.hvrGrow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvrGrow:hover,
.hvrGrow:focus,
.hvrGrow:active {
    transform: scale(1.1);
}