/* Base Colors */
:root {
    --pink: #FAA0E2;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-bottom: 40px;
}

.kotten {
    width: 150px;
    height: auto;
    margin-left: 300px;

}

.navIcons {
    width: 25px;
    height: 25px;
}

.menu {
    width: 28px;
}

.search {
    width: 19px;
    height: 19px;

    position: absolute;
    top: 0;
    right: 0;

    padding: 14px 20px;
}

.rightNav {
    display: flex;
    flex-flow: row nowrap;
    gap: 35px;
    align-items: center;
}

/* Cart Number */

.dot {
    height: 18px;
    width: 18px;
    background-color: var(--pink);
    border-radius: 50%;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    position: relative;
}

.cartIcon {
    width: 30px;
    height: 30px;
    color: black;
}

.cartNum {
    color: white;
    font-weight: bolder;
}

/* Search Bar */

.boxText {
    font-family: "Raleway", sans-serif;
    color: #D9D9D9;
}

.rectangle {
    border: 1px solid var(--pink);
    height: 45px;
    border-radius: 20px;
    width: 250px;
    padding: 0px 20px;
}

.searchDiv {
    position: relative;
}

