/* Base Colors */
:root {
    --pink: #FAA0E2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-bottom: 40px;
}

.kotten {
    width: 150px;
    height: auto;
}

.navIcons {
    transform: scale(1.3);
}

.rightNav {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
}

/* Cart Number */

.dot {
    height: 18px;
    width: 18px;
    background-color: var(--pink);
    border-radius: 50%;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    position: relative;
}

.cartIcon {
    transform: scale(1.3);
    color: black;
}

.cartNum {
    color: white;
    font-weight: bolder;
}
