
.itemList {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    align-items: flex-start;
    margin-left: 100px;

    padding-top: 25px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;


}

.header {
    margin-left: 100px;
}

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.header {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 2em;
    padding-bottom: 25px;

    border-bottom: 0.5px solid black;
    width: 500px;
}
