/* Base Colors */
:root {
    --pink: #FAA0E2;
}

/* Footer */

.foot {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    background-color: var(--pink);
}

/* .rectangle {
    background: var(--pink);
    width: 10px;
    height: 10px;
} */
