/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Base Colors */
:root {
    --pink: #FAA0E2;
}

/* Footer */
.footer {
    background-color: var(--pink);
    padding: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.rectangle {
    background: white;
    width: 350px;
    height: 45px;
    border-radius: 15px;
}

.footerText {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 0;
}

.signUp {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

/* Social Media Icons */

.instagram {
    /* font-size: 45px; */
    color: white;
}

.mail {
    /* font-size: 40px; */
    color: white;
    rotate: -45deg;
}

.socials {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    align-items: center;
}

.tiktok {
    font-size: 40px;
}